.background{
	background-image: url("/static/images/Background_website.png");
	/*background-image: url({{ url_for('static', filename='images/Background_website.jpg') }});*/
}


.bordervisible{
	border-style: ridge;
}

a:hover 
{
	color: none;
	text-decoration: none;
}

	
.randomran{
	z-index: 1;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#8e432c;
}

li {
    float: left;
    color: #0951a3;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #edea42;
}

li a:hover {
     background-color:#a7db97;
}
